<app-home-page></app-home-page>



<form [formGroup]="form" (submit)="filter(form.get('search')?.value)">
  <label for="search">Search games</label>
  <br>
  <input type="text" id="search" placeholder="Search games"
         (keyup)="log(form.get('search')?.value.length)"
         formControlName="search">
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<div *ngIf="form.get('search')?.value?.length;
     then personTemplate
     else friendsTemplate">

</div>
<ng-template #personTemplate>
  <app-friend
    *ngFor="let person of people"
    [name]="person.name">
    <button class="btn btn-primary">Add Friend</button>
  </app-friend>
</ng-template>

<ng-template #friendsTemplate>
  <app-friend
    *ngFor="let friend of friends"
    [name]="friend.name">
    <button class="btn btn-danger">Remove Friend</button>
  </app-friend>
</ng-template>


