<app-home-page></app-home-page>

<div class="container d-flex justify-content-center align-items-center flex-column">
  <form
    [formGroup]="form"
    (submit)="submit()"
    class="profile-form">
    <h2>Profile</h2>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username"
             placeholder="Username"
             class="form-control"
             formControlName="displayName"
             [ngModel]="displayName"
      >
    </div>

    <div
      [ngClass]="{'text-danger': form.get('email')?.touched && form.get('email')?.invalid}"
      class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="email"
             id="email" placeholder="Email"
             formControlName="email"
             [ngClass]="{'is-invalid': form.get('email')?.invalid && form.get('email')?.touched}"
             [ngModel]="email"
      >
      <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="validation">
        <span *ngIf="form.get('email')?.errors?.['required']">Email is required</span>
        <span *ngIf="form.get('email')?.errors?.['email']">Check your email </span>
      </div>
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" id="age"
             placeholder="Age"
             class="form-control"
             formControlName="age"
             [ngModel]="age"
      >
    </div>

    <button
      class="btn btn-primary my-btn" type="submit"
      [disabled]="form.invalid || !form.touched">
      Save
    </button>
  </form>

  <div class="alert alert-info mt-2" *ngIf="submitted">
    Profile updated successfully
  </div>
</div>

