

<div class="container d-flex justify-content-center">
  <form [formGroup]="form"
    class="form">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" name="email"
             formControlName="email" required
             class="form-control" placeholder="Email"
             [ngClass]="{'is-invalid': form.get('email')?.invalid &&
                 form.get('email')?.touched}">

      <p *ngIf="form.get('email')?.invalid &&
             form.get('email')?.touched">
        Please enter correct email
      </p>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password"
             class="form-control" placeholder="Password"
             [ngClass]="{'is-invalid': form.get('password')?.invalid &&
                 form.get('password')?.touched}">

      <p *ngIf="form.get('password')?.invalid &&
         form.get('password')?.touched">
        <span *ngIf="form.get('password')?.errors?.['required']"
        >Please enter your password, </span>
        <span *ngIf="form.get('password')?.errors?.['lengthError']"
        >Password should not be less than {{charsCount}} symbols</span>
      </p>
    </div>

    <button class="btn btn-primary my-btn" type="button"
            (click)="onSubmit(form.get('email')?.value)"
            [disabled]="form.invalid" routerLink="/home-page">
      Sign in
    </button>
  </form>
</div>

