<div class="container d-flex justify-content-center align-items-center min-vh-100 flex-column">
  <div class="alert alert-info mb-2" *ngIf="message">
    {{message}}
  </div>

  <form
    [formGroup]="form"
    (submit)="submit()"
    class="form">
    <h2>Sign In</h2>

    <div
      [ngClass]="{'text-danger': form.get('email')?.touched && form.get('email')?.invalid}"
      class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="email"
             id="email" placeholder="Email"
             formControlName="email"
             [ngClass]="{'is-invalid': form.get('email')?.invalid && form.get('email')?.touched}">
      <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="validation">
        <span *ngIf="form.get('email')?.errors?.['required']">Email is required</span>
        <span *ngIf="form.get('email')?.errors?.['email']">Check your email </span>
      </div>
    </div>

    <div
      [ngClass]="{'text-danger': form.get('password')?.touched && form.get('password')?.invalid}"
      class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password"
             id="password" placeholder="Password"
             formControlName="password"
             [ngClass]="{'is-invalid': form.get('password')?.invalid && form.get('password')?.touched}">
      <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="validation">
        <span *ngIf="form.get('password')?.errors?.['required']">Password is required </span>
        <span *ngIf="form.get('password')?.errors?.['minlength']">
          Password length should be
          {{form.get('password')?.errors?.['minlength'].requiredLength}}.
          Now it is
          {{form.get('password')?.errors?.['minlength'].actualLength}}
        </span>
      </div>
    </div>

    <button
      class="btn btn-primary my-btn" type="submit"
      [disabled]="form.invalid || submitted">
      Sign in
    </button>
  </form>

  <div class="alert alert-danger mt-2" *ngIf="auth.error | async as error">
    {{error}}
  </div>
</div>

