<app-home-page></app-home-page>

<div class="container m-3">
  <h3>Games</h3>

  <form [formGroup]="form" (submit)="filter(form.get('search')?.value)">
    <label for="search">Search games</label>
    <br>
    <input type="text" id="search" placeholder="Search games"
           formControlName="search">
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <h3>Featured Games</h3>
  <div class="d-flex gap-3">
    <div class="list-group">
      <app-game class="list-group-item"
                *ngFor="let game of games
                | gamesFilter: form.get('search')?.value: 'name'
                | gamesFilter: rangeInputValue: 'price'"
                [name]="game.name"
                [price]="game.price"
                [overview]="game.overview">
        <button class="btn btn-primary"
                (click)="addGame(game)">Add to library</button>
      </app-game>
    </div>

    <div class="filters d-flex flex-column">
      <label for="filterByPrice">Filter by price</label>
      <input type="range" id="filterByPrice"
             min="0" max="1500" step="100"
             [(ngModel)]="rangeInputValue"
      >
      <p>{{rangeInputValue}}</p>
      <label>Filter by tag</label>

      <div (click)="log(getValue($event))" class="d-flex flex-column">
        <label for="indie">
          <input type="checkbox" id="indie" name="indie"
                 [(ngModel)]="checkboxIndie">
          Indie
        </label>
        <label for="action">
          <input type="checkbox" id="action" name="action"
                 [(ngModel)]="checkboxAction">
          Action
        </label>

        <label for="adventure">
          <input type="checkbox" id="adventure" name="adventure"
                 [(ngModel)]="checkboxAdventure">
          Adventure
        </label>
      </div>
    </div>
  </div>
</div>



